[submodule "GenCon-Web"]
	path = GenCon-Web
	url = https://github.com/Team-Apple/GenCon-Web
[submodule "GenCon-Motion"]
	path = GenCon-Motion
	url = https://github.com/Team-Apple/GenCon-Motion
[submodule "GenCon-iOS"]
	path = GenCon-iOS
	url = https://github.com/Team-Apple/GenCon-iOS.git
[submodule "GenCon-Android"]
	path = GenCon-Android
	url = https://github.com/Team-Apple/GenCon-Android
